html,
body.comicBody {
  height: 100vh;
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;

  // Reset Readium CSS
  --RS__maxMediaWidth: auto;
  --RS__maxMediaHeight: auto;
  --RS__pageGutter: 0;
  --RS__maxLineLength: 100vm;
  --USER__pageMargins: 0;
}

body.comicBody {
  display: flex;
  flex-direction: column;

  > :is(h1, h2, h3, h4, h5) {
    flex-grow: 0;
    flex-shrink: 0;
  }
  div.area {
    display: none;
  }

  div.page {
    position: relative;
    flex-grow: 1;
    overflow: hidden;

    > img {
      position: absolute;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    transition: all 0.2s linear;
    display: block;
    max-height: auto;
    padding: 0 40px;

    &.hideHeading {
      opacity: 0;
      max-height: 0;
      padding: 0;
      margin: 0;
    }
  }

  &.black-white {
    div.page {
      img {
        filter: grayscale(1) contrast(255) brightness(1);
        mix-blend-mode: multiply;
      }
    }
  }
}
